:root {
  --b-100: rgba(122, 204, 244, 1);
  --b-200: rgba(65, 182, 239, 1);
  --b-300: rgba(26, 167, 236, 1);
  --b-400: rgba(18, 117, 165, 1);
  --b-50: rgba(232, 246, 253, 1);
  --b-500: rgba(16, 102, 144, 1);
  --b-75: rgba(161, 219, 247, 1);
  --base-black-16-font-family: "SourceSans Pro-Black", Helvetica;
  --base-black-16-font-size: 16px;
  --base-black-16-font-style: normal;
  --base-black-16-font-weight: 900;
  --base-black-16-letter-spacing: 0px;
  --base-black-16-line-height: 120.00000476837158%;
  --base-bold-16-font-family: "SourceSans Pro-Bold", Helvetica;
  --base-bold-16-font-size: 16px;
  --base-bold-16-font-style: normal;
  --base-bold-16-font-weight: 700;
  --base-bold-16-letter-spacing: 0px;
  --base-bold-16-line-height: 120.00000476837158%;
  --base-ex-light-16-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --base-ex-light-16-font-size: 16px;
  --base-ex-light-16-font-style: normal;
  --base-ex-light-16-font-weight: 200;
  --base-ex-light-16-letter-spacing: 0px;
  --base-ex-light-16-line-height: 120.00000476837158%;
  --base-light-16-font-family: "SourceSans Pro-Light", Helvetica;
  --base-light-16-font-size: 16px;
  --base-light-16-font-style: normal;
  --base-light-16-font-weight: 300;
  --base-light-16-letter-spacing: 0px;
  --base-light-16-line-height: 120.00000476837158%;
  --base-reg-16-font-family: "SourceSans Pro-Regular", Helvetica;
  --base-reg-16-font-size: 16px;
  --base-reg-16-font-style: normal;
  --base-reg-16-font-weight: 400;
  --base-reg-16-letter-spacing: 0px;
  --base-reg-16-line-height: 120.00000476837158%;
  --base-SB-16-font-family: "SourceSans Pro-Semibold", Helvetica;
  --base-SB-16-font-size: 16px;
  --base-SB-16-font-style: normal;
  --base-SB-16-font-weight: 400;
  --base-SB-16-letter-spacing: 0px;
  --base-SB-16-line-height: 120.00000476837158%;
  --black: rgba(0, 0, 0, 1);
  --brand: rgba(26, 167, 236, 1);
  --danger-300: rgba(198, 40, 40, 1);
  --danger-400: rgba(139, 28, 28, 1);
  --danger-500: rgba(121, 24, 24, 1);
  --ex-small-black-12-font-family: "SourceSans Pro-Black", Helvetica;
  --ex-small-black-12-font-size: 12px;
  --ex-small-black-12-font-style: normal;
  --ex-small-black-12-font-weight: 900;
  --ex-small-black-12-letter-spacing: 0px;
  --ex-small-black-12-line-height: 120.00000476837158%;
  --ex-small-bold-12-font-family: "SourceSans Pro-Bold", Helvetica;
  --ex-small-bold-12-font-size: 12px;
  --ex-small-bold-12-font-style: normal;
  --ex-small-bold-12-font-weight: 700;
  --ex-small-bold-12-letter-spacing: 0px;
  --ex-small-bold-12-line-height: 120.00000476837158%;
  --ex-small-ex-light-12-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --ex-small-ex-light-12-font-size: 12px;
  --ex-small-ex-light-12-font-style: normal;
  --ex-small-ex-light-12-font-weight: 200;
  --ex-small-ex-light-12-letter-spacing: 0px;
  --ex-small-ex-light-12-line-height: 120.00000476837158%;
  --ex-small-light-12-font-family: "SourceSans Pro-Light", Helvetica;
  --ex-small-light-12-font-size: 12px;
  --ex-small-light-12-font-style: normal;
  --ex-small-light-12-font-weight: 300;
  --ex-small-light-12-letter-spacing: 0px;
  --ex-small-light-12-line-height: 120.00000476837158%;
  --ex-small-reg-12-font-family: "SourceSans Pro-Regular", Helvetica;
  --ex-small-reg-12-font-size: 12px;
  --ex-small-reg-12-font-style: normal;
  --ex-small-reg-12-font-weight: 400;
  --ex-small-reg-12-letter-spacing: 0px;
  --ex-small-reg-12-line-height: 120.00000476837158%;
  --ex-small-SB-12-font-family: "SourceSans Pro-Semibold", Helvetica;
  --ex-small-SB-12-font-size: 12px;
  --ex-small-SB-12-font-style: normal;
  --ex-small-SB-12-font-weight: 400;
  --ex-small-SB-12-letter-spacing: 0px;
  --ex-small-SB-12-line-height: 120.00000476837158%;
  --h1-black-64-font-family: "SourceSans Pro-Black", Helvetica;
  --h1-black-64-font-size: 64px;
  --h1-black-64-font-style: normal;
  --h1-black-64-font-weight: 900;
  --h1-black-64-letter-spacing: 0px;
  --h1-black-64-line-height: 120.00000476837158%;
  --h1-bold-64-font-family: "SourceSans Pro-Bold", Helvetica;
  --h1-bold-64-font-size: 64px;
  --h1-bold-64-font-style: normal;
  --h1-bold-64-font-weight: 700;
  --h1-bold-64-letter-spacing: 0px;
  --h1-bold-64-line-height: 120.00000476837158%;
  --h1-ex-light-64-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --h1-ex-light-64-font-size: 64px;
  --h1-ex-light-64-font-style: normal;
  --h1-ex-light-64-font-weight: 200;
  --h1-ex-light-64-letter-spacing: 0px;
  --h1-ex-light-64-line-height: 120.00000476837158%;
  --h1-light-64-font-family: "SourceSans Pro-Light", Helvetica;
  --h1-light-64-font-size: 64px;
  --h1-light-64-font-style: normal;
  --h1-light-64-font-weight: 300;
  --h1-light-64-letter-spacing: 0px;
  --h1-light-64-line-height: 120.00000476837158%;
  --h1-reg-64-font-family: "SourceSans Pro-Regular", Helvetica;
  --h1-reg-64-font-size: 64px;
  --h1-reg-64-font-style: normal;
  --h1-reg-64-font-weight: 400;
  --h1-reg-64-letter-spacing: 0px;
  --h1-reg-64-line-height: 120.00000476837158%;
  --h1-SB-64-font-family: "SourceSans Pro-Semibold", Helvetica;
  --h1-SB-64-font-size: 64px;
  --h1-SB-64-font-style: normal;
  --h1-SB-64-font-weight: 400;
  --h1-SB-64-letter-spacing: 0px;
  --h1-SB-64-line-height: 120.00000476837158%;
  --h2-black-48-font-family: "SourceSans Pro-Black", Helvetica;
  --h2-black-48-font-size: 48px;
  --h2-black-48-font-style: normal;
  --h2-black-48-font-weight: 900;
  --h2-black-48-letter-spacing: 0px;
  --h2-black-48-line-height: 120.00000476837158%;
  --h2-bold-48-font-family: "SourceSans Pro-Bold", Helvetica;
  --h2-bold-48-font-size: 48px;
  --h2-bold-48-font-style: normal;
  --h2-bold-48-font-weight: 700;
  --h2-bold-48-letter-spacing: 0px;
  --h2-bold-48-line-height: 120.00000476837158%;
  --h2-ex-light-48-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --h2-ex-light-48-font-size: 48px;
  --h2-ex-light-48-font-style: normal;
  --h2-ex-light-48-font-weight: 200;
  --h2-ex-light-48-letter-spacing: 0px;
  --h2-ex-light-48-line-height: 120.00000476837158%;
  --h2-light-48-font-family: "SourceSans Pro-Light", Helvetica;
  --h2-light-48-font-size: 48px;
  --h2-light-48-font-style: normal;
  --h2-light-48-font-weight: 300;
  --h2-light-48-letter-spacing: 0px;
  --h2-light-48-line-height: 120.00000476837158%;
  --h2-reg-48-font-family: "SourceSans Pro-Regular", Helvetica;
  --h2-reg-48-font-size: 48px;
  --h2-reg-48-font-style: normal;
  --h2-reg-48-font-weight: 400;
  --h2-reg-48-letter-spacing: 0px;
  --h2-reg-48-line-height: 120.00000476837158%;
  --h2-SB-48-font-family: "SourceSans Pro-Semibold", Helvetica;
  --h2-SB-48-font-size: 48px;
  --h2-SB-48-font-style: normal;
  --h2-SB-48-font-weight: 400;
  --h2-SB-48-letter-spacing: 0px;
  --h2-SB-48-line-height: 120.00000476837158%;
  --h3-black-40-font-family: "SourceSans Pro-Black", Helvetica;
  --h3-black-40-font-size: 40px;
  --h3-black-40-font-style: normal;
  --h3-black-40-font-weight: 900;
  --h3-black-40-letter-spacing: 0px;
  --h3-black-40-line-height: 120.00000476837158%;
  --h3-bold-40-font-family: "SourceSans Pro-Bold", Helvetica;
  --h3-bold-40-font-size: 40px;
  --h3-bold-40-font-style: normal;
  --h3-bold-40-font-weight: 700;
  --h3-bold-40-letter-spacing: 0px;
  --h3-bold-40-line-height: 120.00000476837158%;
  --h3-ex-light-40-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --h3-ex-light-40-font-size: 40px;
  --h3-ex-light-40-font-style: normal;
  --h3-ex-light-40-font-weight: 200;
  --h3-ex-light-40-letter-spacing: 0px;
  --h3-ex-light-40-line-height: 120.00000476837158%;
  --h3-light-40-font-family: "SourceSans Pro-Light", Helvetica;
  --h3-light-40-font-size: 40px;
  --h3-light-40-font-style: normal;
  --h3-light-40-font-weight: 300;
  --h3-light-40-letter-spacing: 0px;
  --h3-light-40-line-height: 120.00000476837158%;
  --h3-reg-40-font-family: "SourceSans Pro-Regular", Helvetica;
  --h3-reg-40-font-size: 40px;
  --h3-reg-40-font-style: normal;
  --h3-reg-40-font-weight: 400;
  --h3-reg-40-letter-spacing: 0px;
  --h3-reg-40-line-height: 120.00000476837158%;
  --h3-SB-40-font-family: "SourceSans Pro-Semibold", Helvetica;
  --h3-SB-40-font-size: 40px;
  --h3-SB-40-font-style: normal;
  --h3-SB-40-font-weight: 400;
  --h3-SB-40-letter-spacing: 0px;
  --h3-SB-40-line-height: 120.00000476837158%;
  --h4-black-36-font-family: "SourceSans Pro-Black", Helvetica;
  --h4-black-36-font-size: 36px;
  --h4-black-36-font-style: normal;
  --h4-black-36-font-weight: 900;
  --h4-black-36-letter-spacing: 0px;
  --h4-black-36-line-height: 120.00000476837158%;
  --h4-bold-36-font-family: "SourceSans Pro-Bold", Helvetica;
  --h4-bold-36-font-size: 36px;
  --h4-bold-36-font-style: normal;
  --h4-bold-36-font-weight: 700;
  --h4-bold-36-letter-spacing: 0px;
  --h4-bold-36-line-height: 120.00000476837158%;
  --h4-ex-light-36-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --h4-ex-light-36-font-size: 36px;
  --h4-ex-light-36-font-style: normal;
  --h4-ex-light-36-font-weight: 200;
  --h4-ex-light-36-letter-spacing: 0px;
  --h4-ex-light-36-line-height: 120.00000476837158%;
  --h4-light-36-font-family: "SourceSans Pro-Light", Helvetica;
  --h4-light-36-font-size: 36px;
  --h4-light-36-font-style: normal;
  --h4-light-36-font-weight: 300;
  --h4-light-36-letter-spacing: 0px;
  --h4-light-36-line-height: 120.00000476837158%;
  --h4-reg-36-font-family: "SourceSans Pro-Regular", Helvetica;
  --h4-reg-36-font-size: 36px;
  --h4-reg-36-font-style: normal;
  --h4-reg-36-font-weight: 400;
  --h4-reg-36-letter-spacing: 0px;
  --h4-reg-36-line-height: 120.00000476837158%;
  --h4-SB-36-font-family: "SourceSans Pro-Semibold", Helvetica;
  --h4-SB-36-font-size: 36px;
  --h4-SB-36-font-style: normal;
  --h4-SB-36-font-weight: 400;
  --h4-SB-36-letter-spacing: 0px;
  --h4-SB-36-line-height: 120.00000476837158%;
  --h5-black-32-font-family: "SourceSans Pro-Black", Helvetica;
  --h5-black-32-font-size: 32px;
  --h5-black-32-font-style: normal;
  --h5-black-32-font-weight: 900;
  --h5-black-32-letter-spacing: 0px;
  --h5-black-32-line-height: 120.00000476837158%;
  --h5-bold-32-font-family: "SourceSans Pro-Bold", Helvetica;
  --h5-bold-32-font-size: 32px;
  --h5-bold-32-font-style: normal;
  --h5-bold-32-font-weight: 700;
  --h5-bold-32-letter-spacing: 0px;
  --h5-bold-32-line-height: 120.00000476837158%;
  --h5-ex-light-32-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --h5-ex-light-32-font-size: 32px;
  --h5-ex-light-32-font-style: normal;
  --h5-ex-light-32-font-weight: 200;
  --h5-ex-light-32-letter-spacing: 0px;
  --h5-ex-light-32-line-height: 120.00000476837158%;
  --h5-light-32-font-family: "SourceSans Pro-Light", Helvetica;
  --h5-light-32-font-size: 32px;
  --h5-light-32-font-style: normal;
  --h5-light-32-font-weight: 300;
  --h5-light-32-letter-spacing: 0px;
  --h5-light-32-line-height: 120.00000476837158%;
  --h5-reg-32-font-family: "SourceSans Pro-Regular", Helvetica;
  --h5-reg-32-font-size: 32px;
  --h5-reg-32-font-style: normal;
  --h5-reg-32-font-weight: 400;
  --h5-reg-32-letter-spacing: 0px;
  --h5-reg-32-line-height: 120.00000476837158%;
  --h5-SB-32-font-family: "SourceSans Pro-Semibold", Helvetica;
  --h5-SB-32-font-size: 32px;
  --h5-SB-32-font-style: normal;
  --h5-SB-32-font-weight: 400;
  --h5-SB-32-letter-spacing: 0px;
  --h5-SB-32-line-height: 120.00000476837158%;
  --h6-black-24-font-family: "SourceSans Pro-Black", Helvetica;
  --h6-black-24-font-size: 24px;
  --h6-black-24-font-style: normal;
  --h6-black-24-font-weight: 900;
  --h6-black-24-letter-spacing: 0px;
  --h6-black-24-line-height: 120.00000476837158%;
  --h6-bold-24-font-family: "SourceSans Pro-Bold", Helvetica;
  --h6-bold-24-font-size: 24px;
  --h6-bold-24-font-style: normal;
  --h6-bold-24-font-weight: 700;
  --h6-bold-24-letter-spacing: 0px;
  --h6-bold-24-line-height: 120.00000476837158%;
  --h6-ex-light-24-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --h6-ex-light-24-font-size: 24px;
  --h6-ex-light-24-font-style: normal;
  --h6-ex-light-24-font-weight: 200;
  --h6-ex-light-24-letter-spacing: 0px;
  --h6-ex-light-24-line-height: 120.00000476837158%;
  --h6-light-24-font-family: "SourceSans Pro-Light", Helvetica;
  --h6-light-24-font-size: 24px;
  --h6-light-24-font-style: normal;
  --h6-light-24-font-weight: 300;
  --h6-light-24-letter-spacing: 0px;
  --h6-light-24-line-height: 120.00000476837158%;
  --h6-reg-24-font-family: "SourceSans Pro-Regular", Helvetica;
  --h6-reg-24-font-size: 24px;
  --h6-reg-24-font-style: normal;
  --h6-reg-24-font-weight: 400;
  --h6-reg-24-letter-spacing: 0px;
  --h6-reg-24-line-height: 120.00000476837158%;
  --h6-SB-24-font-family: "SourceSans Pro-Semibold", Helvetica;
  --h6-SB-24-font-size: 24px;
  --h6-SB-24-font-style: normal;
  --h6-SB-24-font-weight: 400;
  --h6-SB-24-letter-spacing: 0px;
  --h6-SB-24-line-height: 120.00000476837158%;
  --large-black-18-font-family: "SourceSans Pro-Black", Helvetica;
  --large-black-18-font-size: 18px;
  --large-black-18-font-style: normal;
  --large-black-18-font-weight: 900;
  --large-black-18-letter-spacing: 0px;
  --large-black-18-line-height: 120.00000476837158%;
  --large-bold-18-font-family: "SourceSans Pro-Bold", Helvetica;
  --large-bold-18-font-size: 18px;
  --large-bold-18-font-style: normal;
  --large-bold-18-font-weight: 700;
  --large-bold-18-letter-spacing: 0px;
  --large-bold-18-line-height: 120.00000476837158%;
  --large-ex-light18-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --large-ex-light18-font-size: 18px;
  --large-ex-light18-font-style: normal;
  --large-ex-light18-font-weight: 200;
  --large-ex-light18-letter-spacing: 0px;
  --large-ex-light18-line-height: 120.00000476837158%;
  --large-light-18-font-family: "SourceSans Pro-Light", Helvetica;
  --large-light-18-font-size: 18px;
  --large-light-18-font-style: normal;
  --large-light-18-font-weight: 300;
  --large-light-18-letter-spacing: 0px;
  --large-light-18-line-height: 120.00000476837158%;
  --large-reg-18-font-family: "SourceSans Pro-Regular", Helvetica;
  --large-reg-18-font-size: 18px;
  --large-reg-18-font-style: normal;
  --large-reg-18-font-weight: 400;
  --large-reg-18-letter-spacing: 0px;
  --large-reg-18-line-height: 120.00000476837158%;
  --large-SB-18-font-family: "SourceSans Pro-Semibold", Helvetica;
  --large-SB-18-font-size: 18px;
  --large-SB-18-font-style: normal;
  --large-SB-18-font-weight: 400;
  --large-SB-18-letter-spacing: 0px;
  --large-SB-18-line-height: 120.00000476837158%;
  --larger-black-20-font-family: "SourceSans Pro-Black", Helvetica;
  --larger-black-20-font-size: 20px;
  --larger-black-20-font-style: normal;
  --larger-black-20-font-weight: 900;
  --larger-black-20-letter-spacing: 0px;
  --larger-black-20-line-height: 120.00000476837158%;
  --larger-bold-20-font-family: "SourceSans Pro-Bold", Helvetica;
  --larger-bold-20-font-size: 20px;
  --larger-bold-20-font-style: normal;
  --larger-bold-20-font-weight: 700;
  --larger-bold-20-letter-spacing: 0px;
  --larger-bold-20-line-height: 120.00000476837158%;
  --larger-ex-light-20-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --larger-ex-light-20-font-size: 20px;
  --larger-ex-light-20-font-style: normal;
  --larger-ex-light-20-font-weight: 200;
  --larger-ex-light-20-letter-spacing: 0px;
  --larger-ex-light-20-line-height: 120.00000476837158%;
  --larger-light-20-font-family: "SourceSans Pro-Light", Helvetica;
  --larger-light-20-font-size: 20px;
  --larger-light-20-font-style: normal;
  --larger-light-20-font-weight: 300;
  --larger-light-20-letter-spacing: 0px;
  --larger-light-20-line-height: 120.00000476837158%;
  --larger-reg-20-font-family: "SourceSans Pro-Regular", Helvetica;
  --larger-reg-20-font-size: 20px;
  --larger-reg-20-font-style: normal;
  --larger-reg-20-font-weight: 400;
  --larger-reg-20-letter-spacing: 0px;
  --larger-reg-20-line-height: 120.00000476837158%;
  --larger-SB-20-font-family: "SourceSans Pro-Semibold", Helvetica;
  --larger-SB-20-font-size: 20px;
  --larger-SB-20-font-style: normal;
  --larger-SB-20-font-weight: 400;
  --larger-SB-20-letter-spacing: 0px;
  --larger-SB-20-line-height: 120.00000476837158%;
  --light-2: rgba(255, 255, 255, 1);
  --n-100: rgba(186, 189, 194, 1);
  --n-200: rgba(156, 161, 167, 1);
  --n-300: rgba(136, 142, 149, 1);
  --n-400: rgba(95, 99, 104, 1);
  --n-50: rgba(243, 244, 244, 1);
  --n-500: rgba(83, 87, 91, 1);
  --n-75: rgba(206, 209, 212, 1);
  --s-100: rgba(116, 166, 191, 1);
  --s-200: rgba(57, 128, 163, 1);
  --s-300: rgba(16, 102, 144, 1);
  --s-400: rgba(11, 71, 101, 1);
  --s-50: rgba(231, 240, 244, 1);
  --s-500: rgba(10, 62, 88, 1);
  --s-75: rgba(157, 192, 209, 1);
  --secondary: rgba(16, 102, 144, 1);
  --small-black-14-font-family: "SourceSans Pro-Black", Helvetica;
  --small-black-14-font-size: 14px;
  --small-black-14-font-style: normal;
  --small-black-14-font-weight: 900;
  --small-black-14-letter-spacing: 0px;
  --small-black-14-line-height: 120.00000476837158%;
  --small-bold-14-font-family: "SourceSans Pro-Bold", Helvetica;
  --small-bold-14-font-size: 14px;
  --small-bold-14-font-style: normal;
  --small-bold-14-font-weight: 700;
  --small-bold-14-letter-spacing: 0px;
  --small-bold-14-line-height: 120.00000476837158%;
  --small-ex-light-14-font-family: "SourceSans Pro-ExtraLight", Helvetica;
  --small-ex-light-14-font-size: 14px;
  --small-ex-light-14-font-style: normal;
  --small-ex-light-14-font-weight: 200;
  --small-ex-light-14-letter-spacing: 0px;
  --small-ex-light-14-line-height: 120.00000476837158%;
  --small-light-14-font-family: "SourceSans Pro-Light", Helvetica;
  --small-light-14-font-size: 14px;
  --small-light-14-font-style: normal;
  --small-light-14-font-weight: 300;
  --small-light-14-letter-spacing: 0px;
  --small-light-14-line-height: 120.00000476837158%;
  --small-reg-14-font-family: "SourceSans Pro-Regular", Helvetica;
  --small-reg-14-font-size: 14px;
  --small-reg-14-font-style: normal;
  --small-reg-14-font-weight: 400;
  --small-reg-14-letter-spacing: 0px;
  --small-reg-14-line-height: 120.00000476837158%;
  --small-SB-14-font-family: "SourceSans Pro-Semibold", Helvetica;
  --small-SB-14-font-size: 14px;
  --small-SB-14-font-style: normal;
  --small-SB-14-font-weight: 400;
  --small-SB-14-letter-spacing: 0px;
  --small-SB-14-line-height: 120.00000476837158%;
  --success-300: rgba(73, 142, 77, 1);
  --success-400: rgba(51, 99, 54, 1);
  --success-500: rgba(45, 87, 47, 1);
  --warning-300: rgba(237, 108, 2, 1);
  --warning-400: rgba(166, 76, 1, 1);
  --warning-500: rgba(145, 66, 1, 1);
  --white: rgba(255, 255, 255, 1);
}
